@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


:root{
  --text-color-items:#ffffff;
  --primary-color-text:#1C2B38;
  --text-color-sedundary:#7BBCB0;
  --subtext-color-secundary:#778088;
  --secundary-color-button:#FFDA32;
  --three-color-button:#495560;
}
body{
  margin: 0;
  padding: 0;
  

}
.Nav-bar{
  display:flex;
  justify-content: center;
  justify-content: space-between;
  padding: 8px 40px;
  /*margin: 0px 0px;*/
  /*padding: 10px 10px 10px 10px;*/
    
}
.Nav-bar > .logo{
  display: flex;
  justify-content: flex-start;
  
}
.Nav-bar >.Nav-Links >ul>li{
  list-style: none; 
  
}
.Nav-bar >.Nav-Links>ul{
  display: flex;
  justify-content: center;
  
}
.Nav-bar >.Nav-Links >ul>li>a{
  display: flex;
  justify-content: center;
  margin: 0px 20px;
  color: var(--text-color-items);
  text-decoration: none;
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 
}
.btn{
  width: max-content;
  height: max-content;
  padding: 10px 20px;
  font-size: 18px;
}
.btn-principal{
  background-color: var(--secundary-color-button);
  color: var(--primary-color-text);
  border: none;
  width:140px;
  height: 50px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 800;
}
.btn-border{
  border-radius: 50px;
}
.Header{
  background: url(/images/Fondo-header.svg);
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  
}
.header-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header>.header-text >h1{
  display: flex;
  justify-content: center;
  color: var(--primary-color-text);
  font-size: 48px;
  font-family:'Volkhov';
  
}
.Header>.header-text >p{
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  color: var(--primary-color-text);
  font-size: 16px;
  line-height : 25px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.header-iconoVideo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 100px;
}

.Caja-header{
  display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: var(--text-color-items);
    box-shadow: 0 15px 30px var(--text-color-sedundary);
    padding: 10px 0;
    margin: 230px 230px;
    
}
.Header-cajita >div{
  display: flex;
  margin: 0px 0px;
 


}
.Header-cajita >div >h3{
  display: flex;
  margin: 0px 10px;
  color:var(--text-color-sedundary);
  font-family: "Mulish", sans-serif;

}
.Header-cajita >h3{
  color:var(--subtext-color-secundary); 
  font-weight: 400;
  font-style: italic;
  margin-left: 20px;
}
.Caja-header > hr {
  margin: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  border: 1px solid #EEEFF2;
}
.Caja-header>.Boton2{
  border-radius: 20px;
  
}
.container1{
  background: url(/images/Fondo1.svg);
  display: flex;
  height: max-content;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  
}
.elipse{
  margin:50px;

}
.contenido{
  width: 505px;
  height: 307px;
  margin:200px 80px 8px 50px;

}
.contenido>button{
  background-color: #AFFFF0;
  color:var(--primary-color-text);
  border-radius: 25px;
  border:none;
  width: 130px;
  height: 30px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}
.contenido>h2{
  color:var(--text-color-items);
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
}
.contenido>p{
  color:var(--text-color-items);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.texto{
  display: flex;
  justify-content: space-evenly;
  padding: 5px 5px 5px 5px;
  color:var(--text-color-items);
  margin: 20px;
  margin-left: 0px;
  margin-top: -2px;
 
  
}
.texto >h6{
  margin-top: -7px;
}
.texto> hr {
  margin: 0;
  height: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #EEEFF2;
  
}
.texto >div>h6{
margin-top: -2px;


}




















.part1{
  display: flex;
  justify-content: space-between;
  margin-right: 130px;
  margin-left: 130px;

}
.title{
  justify-content: center;
  width: 538px;
  line-height: 25px;
}
.title>h3{
  color:var(--primary-color-text);
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
 
}
.title>p{
  color:var(--subtext-color-secundary);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
}
.btn-secundary{
  background-color: var(--three-color-button);
  color: #ffffff;
  border:none;
  margin-top: 50px;
  width: 190px;
  height: 54px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
}
.part2{
  margin-top: 50px;
  margin-left: 130px;
  margin-right: 130px;

}
.part2 >.images1>img{
  padding:10px 30px 50px 10px;

}
.part2 >.images2>img{
  padding:10px 30px 50px 10px;
}
.part3{
  display: flex;
  margin-top: 50px;
  margin-left: 130px;
  margin-right: 130px;
}
.info {
  padding:10px 30px 50px 10px;
}

.info > h4{
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

}
.empresas{
  margin-left :-8px;
  margin-top: 10px;
}
.empresas1 >img{
  
  padding-left: 10px;
  margin-bottom: 10px;

}
.empresas2 >img{
  margin-left: 10px;

}
.redes {
  margin-left: 8px;
  margin-right:130px;
  margin-top:5px;
  display:flex;
  justify-Content:space-between;
}
.redes >img{
  margin-left: 10px;
}


















